.example-card-wrapper {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.example-card-wrapper .example-card-content {
  padding: 10px 5px 20px 5px;
}

.example-card-wrapper .example-card-description-wrapper {
  padding: 10px;
}

.example-card-wrapper .example-card-description-wrapper .example-card-description-title {
  padding-bottom: 8px;
  border-bottom: 2px solid #d9d9d9;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}
