body,
html {
  width: 100%;
  height: 100%;
  font-family: "PingFangSC-Regular", "STHeitiSC-Light", "Helvetica-Light", arial, sans-serif, "Droid Sans Fallback";
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
  background: #ffffff;
  overflow: auto;
}

#root {
  width: 100%;
  height: 100%;
}
